{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Educare</title>


    <!-- Additional CSS Files -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets2/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets2/css/templatemo-softy-pinko.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    
    <body>
    
    
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <!-- <img src="assets/images/logo.png" alt="EduCare"/> -->
							<H1 class="">EduCare</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="" class="active">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">SignUp</a></li>
                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
 
    <div class="welcome-area" id="welcome">

  
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
						<strong> <h1>Welcome To Educare<br>Online Tutor Finder </h1></strong>
                        {% comment %} <p>Softy Pinko is a professional Bootstrap 4.0 theme designed by Template Mo 
                        for your company at absolutely free of charge</p> {% endcomment %}
						 <p>The roots of education are bitter, but the fruit is sweet.<strong> – Aristotle</strong></p><br>
                        <a href="/login" class="main-button-slider">Register Here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
 

 

    
  

    

  

    
    
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>
{% endblock %}