{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Educare</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/reg.css' %}"  rel="stylesheet" type="text/css" media="all" />
    
    </head>
    
    <body>
    
    
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <!-- <img src="assets/images/logo.png" alt="EduCare"/> -->
							<H1 class="">EduCare</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">SignUp</a></li>
                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
 
    <div class="welcome-area" id="welcome">
        <div class="nbody" style="margin: 0px 100px; overflow: hidden;">
            <div class="nfeedlefts" style="background-color: unset;">
                <div>
            <div class="testbox" style="height: 280px;"><BR>
      <h1>Login</h1>
    
      <form action="/user_login" method="post">
        {% csrf_token %}
          <hr>
      <input type="text" id="name" name="email" id="name" placeholder="Email" required/>
      <input type="password" id="name" name="password" id="name" placeholder="Password" required/>
      <input type="submit" class="sub_button" name="login" id="name" value="Login"/>
      <p>Forget your password?<a href="/printpw" style="font-weight: bold;">Click here</a>.</p>
      <p>Not registered yet?<a href="/register" style="font-weight: bold;">Register here</a>
      <div>
      <div style="float: right; width: 35%; margin-top: 10px;">
          
          
     
      </div>
      <div style="width: 50%; float: left; padding: 10px 0 5px 4px">
          
     
      {% comment %} <a href="/ADMIN/admlogin/" style="font-weight: bold;">Admin</a><BR> {% endcomment %}
      </p>
      </div>
      </div>
      </form>
    </div>
        </div>
            </div>
            <div class="nfeedright">
                
            </div>
        </div>
    
    
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>
{% endblock %}