{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Educare</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	
    
    </head>
    
    <body style="overflow: scroll;">
    
    
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <!-- <img src="assets/images/logo.png" alt="EduCare"/> -->
							<H1 class="">EduCare</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
							<li><a href="/" >Home</a></li>
							<li><a href="/notification">Notifications</a></li>
							<li><a href="/CHAT/chatNotification">Chat Notifications</a></li>
							<li><a   href="/index1">Posts</a></li>
							<li><a  href="/profile">Profile</a></li>
							<li><a href="/logout">Logout</a></li>
							
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header><div class="welcome-area" id="welcome" >
			<!-- newsfeed -->
	<!-- newsfeed -->
	<div class="nbody" style="margin: 0px 100px; overflow: hidden;">
		<div style="height:100px" >
			
		</div><BR>
		<div class="nfeedleft">
			
								<div class="nfbod=y">
									
								<div class="p_head">
								<div class="p_nmdate">
								{% comment %} <h5>No Notification Found! {{applied}}</h5> {% endcomment %}
								</div>
							</div>
						</div>
								<div class="nfbody">
								<div class="p_head">
								<div style="float: right;">
										
								</div>
								<div>{% if q == "YES" %}
									<h5>No Notification Found!</h5>
									{% comment %} <img src="image/profilepic/'.$pro_pic_db.'" width="41px" height="41px"> {% endcomment %}
								</div>{% else %}{% for ap in applied%}
								<div class="p_nmdate">
									<h4><a href="" style="color: #087E0D;">{{ap.appliedname}},{{ap.appliedby}}</a> <span style="color: #626262; font-weight: 100;"></span></h4>
									<h5 style="color: #757575;"><a class="c_ptime" >Send you a request</a></h5>
									<form action="/viewteacher/{{ap.pk}}/" method="post"> {% csrf_token %} 
										<input type="submit" class="sub_button"  style="margin: 0px;" name="" value="View Contact" />
									</form><form action="/CHAT/index/{{ap.pk}}/" method="post">  {% csrf_token %}
									<input type="submit" class="sub_button"  style="margin: 0px;" name="" value="Chat" />
									</form>
								</div><hr>{% endfor %}
							</div>
						</div>{% endif %}
								{% comment %} <div class="nfbody">
								<div class="p_head">
								<div style="float: right;">';
							<input type="button" class="sub_button" style="margin: 0px; background-color: #a76d6d; cursor: default;" name="" value="Already Confirm" />
													<form action="chat/data.php?app_tut='.$applied_by_id.'" method="post">
													<input type="submit" class="sub_button"  style="margin: 0px;" name="" value="Chat" />
													</form>';
												<form action="approvetutor.php?app_tut='.$post_id.'" method="post">
										<input type="submit" class="sub_button"  style="margin: 0px;" name="" value="Confirm" />
									</form></div>
								<div>
									<img src="image/profilepic/'.$pro_pic_db.'" width="41px" height="41px">
								</div>
								<div class="p_nmdate">
									<h4><a href="aboutme.php?uid='.$applied_by_id.'" style="color: #087E0D;"></a> <span style="color: #626262; font-weight: 100;">'</span></h4>
									<h5 style="color: #757575;"><a class="c_ptime" href="viewpost.php?pid='.$post_id.'"></a></h5>
								</div>
							</div>
						</div> {% endcomment %}



				
		</div>
		<div class="nfeedright">
			
		</div>
	</div>


</div>

	<!-- footer -->
	<div>
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>
{% endblock %}