{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Educare</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/reg.css' %}" rel="stylesheet" type="text/css" media="all" />
    
    <style>
    select{
      border: 1px solid #eee;
      border-radius: 4px;
      padding: 12px;
    }
     
    </style>
    </head>
    
    <body>
    
    
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <!-- <img src="assets/images/logo.png" alt="EduCare"/> -->
							<H1 class="">EduCare</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">SignUp</a></li>
                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="welcome-area" id="welcome" style="height:60em">
        <div>
			<BR>
		</div>
        <div>
			<BR>
		</div>
 
    <div style="height:100px" >
			
		</div><BR>
    <div class="nbody" style="margin: 0px 100px; overflow: hidden;">
		<div class="nfeedlefts" style="background-color: unset;">
			<div>
		<div class="testbox">
          <div class="signup_error_msg"></div>  &nbsp;
		  			<h1>Registration</h1>
					<form action="/register_user" method="post"> 
						{% csrf_token %}
				      <hr>
				    <div class="accounttype">
				      <input type="radio" value="teacher" id="radioOne" name="account" checked/>
				      <label for="radioOne" class="radio" chec>As a Teacher</label>
				      <input type="radio" value="student" id="radioTwo" name="account" />
				      <label for="radioTwo" class="radio">As a Student or Parents</label>
				    </div>
				  <hr>
				  <label id="icon" for="name"><i class="icon-envelope "></i></label>
				  <input type="text" name="name" id="name" placeholder="Full Name"  pattern="[a-zA-Z'-'\s]*" required/>
				  <label id="icon" for="name"><i class="icon-envelope "></i></label>
				  <input type="email" name="email" id="name" placeholder="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  title="Please Enter Valid Email Id" required/>
				  <label id="icon" for="name"><i class="icon-envelope "></i></label>
				  <input type="text" name="mobile" id="name" placeholder="Phone"  pattern="[6-9]{1}[0-9]{9}"required/>
				  <label id="icon" for="name"><i class="icon-user"></i></label>
				  <input type="password" name="password" id="name" placeholder="Password" required/>
				  <label id="icon" for="name"><i class="icon-shield"></i></label>
				  <input type="password" name="cpassword" id="name" placeholder="Confirm Password" required/>
				  <div class="gender">
				    <input type="radio" value="male" id="male" name="gender" checked/>
				    <label for="male" class="radio" chec>Male</label>
				    <input type="radio" value="female" id="female" name="gender" />
				    <label for="female" class="radio">Female</label>
				   </div> 
				   {% for message in messages%}
				   {% if message.tags == "info"%}
					<h6 style="color:green">{{message}}</h6><br>
					{% else %}
					<h6 style="color:red">{{message}}</h6>
					{% endif %}


					{% endfor %}
					<p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
				   <input type="submit" name="signup" class="sub_button" id="submit" value="Registration" required/>
				  </form>


		  
		</div>
	</div>
		</div>
		<div class="nfeedright">
			
		</div>
    </div>
	</div><br><br>

	
	<div>
    
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>
{% endblock %}