<!-- success_message = '
						<div class="signupform_content"><h2><font face="bookman">Registration successfull!</font></h2>
						<div class="signupform_text" style="font-size: 18px; text-align: center;">
						<font face="bookman">
							Email: '.$u_email.'<br>
							Activation code sent to your email. <br>
							Your activation code: '.confirmCode.'
						</font></div></div>';
						}else{
							 ;
						}
-->

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/reg.css' %}" rel="stylesheet" type="text/css" media="all" />

	<!-- menu tab link -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/homemenu.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body class="">
<div>
<div>
		<header class="header">

			<div class="header-cont">
				<h1><a href="index.php">Educare</span></a></h1>
				<h3><a href="#">Hotline: +91 8590208470</a></h3>
				

				<!--
					include 'inc/banner.inc.php';
				-->

			</div>
		</header>
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-animate-left" style="width:100px;" id="mySidebar">
		  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
		  <a href="index.php" class="w3-bar-item w3-button">Tution</a>
		  <a href="photography.php" class="w3-bar-item w3-button">Photography</a>
		  <a href="#" class="w3-bar-item w3-button">IT</a>
		</div>
		<div class="topnav">
			<div class="parent2">
		  {% comment %} <div class="test1 bimage1"><a href=""><img src="{% static 'image/tech.png' %}" title="IT Solution" style="border-radius: 50%;" width="42" height="42"></a></div>
		  <div class="test2"><a href="#"><img src="{% static 'image/eventmgt.png' %}" title="Event Management" width="42" height="42" style="border-radius: 50%;"></a></div>
		  <div class="test3"><a href="#"><img src="{% static 'image/photography.png' %}" title="Photography" width="42" height="42" style="border-radius: 50%;"></a></div>
		  <div class="test4"><a href="#"><img src="{% static 'image/teaching.png' %}" title="Tution" style="border-radius: 50%;" width="42" height="42"></a></div>
		  <div class="mask2"><i class="fa fa-home fa-3x"></i></div> {% endcomment %}
		</div>
			{% comment %} <a class="navlink" href="index.php" style="margin: 0px 0px 0px 100px;">Newsfeed</a>
			<a class="navlink" href="search.php">Search Tutor</a>
			<a class="navlink" href="postform.php">Post</a>
			<a class="navlink" href="#contact">Contact</a>
			<a class="navlink" href="#about">About</a> {% endcomment %}
			<div style="float: right;" >
				<table>
					<tr>
			<td>
							<a class="navlink" href="/login">Login</a>
						</td>
						<td>
							<a class="active navlink" href="/register">Register</a>
						</td>
						
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="nbody" style="margin: 0px 100px; overflow: hidden;">
		<div class="nfeedleft" style="background-color: unset;">
			<div>
		<div class="testbox">
          <div class="signup_error_msg"></div>';
		  			<h1>Registration</h1>
					<form action="/register_user" method="post">
						{% csrf_token %}
				      <hr>
				    <div class="accounttype">
				      <input type="radio" value="teacher" id="radioOne" name="account" checked/>
				      <label for="radioOne" class="radio" chec>As a Teacher</label>
				      <input type="radio" value="student" id="radioTwo" name="account" />
				      <label for="radioTwo" class="radio">As a Student or Parents</label>
				    </div>
				  <hr>
				  <label id="icon" for="name"><i class="icon-envelope "></i></label>
				  <input type="text" name="name" id="name" placeholder="Full Name"  required/>
				  <label id="icon" for="name"><i class="icon-envelope "></i></label>
				  <input type="text" name="email" id="name" placeholder="Email" required/>
				  <label id="icon" for="name"><i class="icon-envelope "></i></label>
				  <input type="text" name="mobile" id="name" placeholder="Phone"  required/>
				  <label id="icon" for="name"><i class="icon-user"></i></label>
				  <input type="password" name="password" id="name" placeholder="Password" required/>
				  <label id="icon" for="name"><i class="icon-shield"></i></label>
				  <input type="password" name="cpassword" id="name" placeholder="Confirm Password" required/>
				  <div class="gender">
				    <input type="radio" value="male" id="male" name="gender" checked/>
				    <label for="male" class="radio" chec>Male</label>
				    <input type="radio" value="female" id="female" name="gender" />
				    <label for="female" class="radio">Female</label>
				   </div> 
				   <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
				   <input type="submit" name="signup" class="sub_button" id="submit" value="Registration" required/>
				  </form>


		  
		</div>
	</div>
		</div>
		<div class="nfeedright">
			
		</div>
	</div><br><br>

	
	<div>
	<!--
		include 'inc/footer.inc.php';
	-->
	</div>
	</div>
 <!-- homemenu tab script -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="{% static 'js/homemenu.js' %}"></script>
</body>
</html>
{% endblock %}